<network>
  <name>{{ kvm_network_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ kvm_network_name }}' stp='on' delay='0'/>
  <domain name='{{ kvm_network_name }}'/>
  <ip address='[{ portable.gateway }}' netmask='{{ portable.netmask }}'>
  </ip>
</network>
